extends layout

block content
 h2.page-header Forgot Password
 p Please provide your user id, we will send password to email address associated with the Id
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post', action='/users/forgot-password')
  .form-group
   label User Id
   input.form-control(name='username', type='text', placeholder='Enter User Id')
  input.btn.btn-primary(type='submit', name='submit',value='Send Password')