ul.success li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
 	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}
.headerFont{color:blue;}

/*Container*/
#mainContent{
    width: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
    box-shadow: 0px 0px 13px 0px grey;
}

/*Layout Top bar*/
.navbar-brand{font-weight: bold;}
.navbar-nav li:hover{
    background: gainsboro;
    font-weight: bold;
}

/*Admin Panel Search Form*/
#searchForm input[type="checkbox"]{
    margin-left:15px;
}

/*Datatable Config*/
#dataTable_paginate{text-align: right;}
#dataTable_filter{display: none;}

/*Admin Panel TAB*/

        ul.tabs{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        ul.tabs li{
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        ul.tabs li.current{
            background: #ededed;
            color: #222;
        }

        .tab-content{
            display: none;
            background: #ededed;
            padding: 15px;
        }

        .tab-content.current{
            display: inherit;
        }
.no-border-rad{
    border-radius: 0px;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 13px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 5px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.chatBtn {
    margin-left:5px;
    padding: 5px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 15px;
    cursor: pointer;
}
.purpleBorder{
     border:2px solid purple;
}.blueBorder{
     border:2px solid blue;
}

.chatBtn:hover {
    color: green;
}
.chat { list-style: none; margin: 0; padding: 0; } 
.chat li { margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px dotted #B3A9A9; } 
.chat li.left .chat-body { margin-left: 60px; } .chat li.right .chat-body {  margin-right: 60px; } 
.chat li .chat-body p { margin: 0; color: #777777; } .panel .slidedown .glyphicon, 
.chat .glyphicon { margin-right: 5px; }
.panel-body { overflow-y: scroll; height: 250px; } 
/*::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5; } ::-webkit-scrollbar { width: 12px; background-color: #F5F5F5; } ::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }*/